.film-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 1px solid grey;
    border-radius: 10px;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
    padding: 10px;
}
h4,h5{
    text-align: center;
}
li{
    list-style: none;
    /*text-align: right;*/
    display:inline-block;
    color: #0A162F;
    padding: 0 10px;
    font-size: 12px;
}
ul{
    padding: 0 ;
    text-align: center;
}