#container{
    /*width: 900px;*/
    /*height: 100vh;*/
    /*margin: 0 auto;*/
    /*display: flex;*/
}
.item {
    float: left;
    width: 200px;
    height: 150px;
}

.item img {
    max-width: 100%;
    max-height: 150px;
}

