.posts{
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
    min-width: 300px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border: 1px solid #0A162F;
    border-radius: 10px;
    color: #112854;
}
.card>*{
    width: 100%;
    padding-bottom: 10px;
}
h4{
    text-align: center;
    font-size: 24px;
    margin: 0;
}
.card-info_user-name{
    font-weight: 700;

}
.card-info_user-email{
    font-weight: 200;
    font-size: 14px;
    padding-left: 10px;
}
.card-info{
    display: flex;
    justify-content: space-between;
}
.fas{
    text-align: right;
}
