.container {
    background-color: black;
    color: yellow;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;

}
.anime{

    animation: star-wars 20s linear;
    width: 40%;
    /*background-color: #305DB8;*/
    font-size: 40px;
    text-align: justify;
    margin: 0 auto;
    margin-top: -100px;
    padding-top: 20%;
    transform: perspective(400px) rotate3d(1,0,0, 45deg) ;
}

h5{
text-align: center;
}
@keyframes  star-wars{
    0%{
        padding-top: 40%;
    }
    100%{
        padding-top: 20%;
    }
}