body {
    margin: 0 auto;
    padding-top: 2%;
    width: 80%;
    text-align: center;
}

input:focus {
    outline: none;
    border: 2px solid rgb(5, 175, 14);
    border-radius: 5px;
}
.current-price {
    color: rgb(5, 175, 14);
}

.error {
    border: 2px solid rgb(253, 3, 36);
    border-radius: 5px;
}

span {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

img {
    height: 100%;
}

button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-color: white;
}
