body{
    margin: 0 auto;
    width: 100%;
}
.btn{
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0543b2;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}
.btn:hover{
    background-color: #022263;
}

.user-info{
    display: flex;
    justify-content: center;
    color: #022263;
    font-size: 20px;
}