.wrapper {
    margin: 0 auto;
    min-width: 1200px;
    font-family: 'Montserrat';
    font-style: normal;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
    padding-bottom: 50px;
}

h2::after {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 1px solid #18CFAB;;
    width: 75px;
    height: 30px;
    left: calc(50% - 35px);
}

h2::before {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 1px solid #18CFAB;;
    width: 75px;
    height: 67px;
    left: calc(50% - 45px);
}

.header {
    background: url("../img/background.png") no-repeat fixed center;
    height: 100vh;
    min-height: 800px;
}

.header-nav-wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: rgba(94, 93, 88, 0.6);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-nav {
    width: calc(500px + 15%);
}

.header-nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header-nav li{
    position: relative;
}

.header-nav li:after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
    bottom: -44px;
    opacity: 0;
}

.header-nav a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.header-nav li:hover:after{
    opacity: 1;
}
.header-nav li:hover a{
    color: #18CFAB;
}

svg text {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.header-logo-text {
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header-logo-text span {
    font-weight: 700;
    color: #18CFAB;
}

.header-main {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
}

.header-main h1 {
    font-size: 78px;
    margin: 2% 0;
}

.header-main h3 {
    font-size: 35px;
}

.header-main p {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.header-main span {
    color: #18CFAB;
}

.header-main-button {
    display: flex;
    width: 365px;
    justify-content: space-between;
}

.header-main-button input {
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    border-radius: 5%;
    border-top: 5px solid #FFFFFF;
}

.header-main-button input:last-child {
    background: #00CBF6;
}

.header-main-button input:first-child {
    background: #18CFAB;
}

.nav-benefits {
    display: grid;
    height: calc(1 / 3 * 100vh);
    margin: 0.5% auto;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.nav-benefits div {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-benefits div:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
}

.nav-benefits div:nth-child(even) {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.services {
    margin: 0 auto;
    width: 70%;
    min-width: 1160px;
    text-align: center;
}

.services h2 {
    margin: 7% 0;
    color: #4E4E4E;
}

.services-nav {
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.services-nav li {
    padding: 20px;
    background-color: #F2F2F2;
    cursor: url("../img/cursor.svg"), auto;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    border: 1.5px solid rgba(255, 255, 255, 0);
}

.services-nav .active {
    background: #18CFAB;
    color: #FFFFFF;
}

.services-nav li:hover {
    border: 1.5px solid #18CFAB;
}

.services-content {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #777777;
    display: none;
}

.services-content.active {
    display: flex;
}

.services-content img {
    margin-right: 2%;
}

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2% 0;
    height: 50vh;
    min-height: 370px;
    margin-top: 10%;
    background: url("../img/purchase_bg.png") no-repeat;
    background-size: cover;
}

.purchase h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase p {
    font-size: 16px;
    line-height: 60px;
    color: #D8D8D8;
}

.purchase .header-main-button {
    justify-content: center;
}

.work {
    height: 1200px;
    background: #E9EDEF;
}

.work-container {
    width: 60%;
    height: 100%;
    min-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.work-container h2 {
    color: #4E4E4E;
}

.work-nav-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 60%;
    min-width: 480px;
    height: 58px;
}

.work-nav {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(5, auto);
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}

.work-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    cursor: url("../img/cursor.svg"), auto;
}

.work-nav li.active {
    border: 2px solid #18CFAB;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}

.work-gallery-img {
    width: 270px;
    height: 200px;
    position: relative;
    cursor: url("../img/cursor.svg"), auto;
    /*display: none;*/
}

.work-gallery-img img {
    height: 100%;
    width: 100%;
}

.work-gallery-img:hover .work-gallery-hover {
    z-index: 1;
}

.work-gallery img.active {
    width: 285px;
    height: 200px;
    display: block;
}

.work-gallery-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #E9EDEF;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.work-gallery-hover_links {
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.work-gallery-hover_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
}

.work-gallery-hover_round:last-child {
    background-color: #18CFAB;
}

.work-gallery-hover_round:last-child div {
    width: 12px;
    height: 11px;
    background-color: #FFFFFF;
}

.work-gallery-hover_text p:first-child {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.work-gallery-hover_text p:last-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.button {
    width: 168px;
    height: 63px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #FFFFFF;
    background: #18CFAB;
    border: none;
    border-radius: 5%;
}

.load-line{
    display: grid;
    grid-template-columns: repeat(4,10px);
    grid-template-rows: 10px;
    grid-gap: 2px;
}
.load-line>*{
    border-radius: 50%;
    opacity: 0.1;
    background-color: #18CFAB;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
    min-width: 1140px;
    text-align: center;
}

.news-container h2 {
    color: #4E4E4E;
}

.news-title {
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 280px);
    grid-gap: 35px;
}

.news-item {
    position: relative;
}

.news-item-title {
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: space-evenly;

}

.news-item-title > a {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.news-item-title-menu {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.news-item-date {
    position: absolute;
    background: #203E38;
    width: 70px;
    height: 68px;
    right: -1px;
    top: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-item:hover .news-item-date {
    background: #18CFAB;
    color: #FFFFFF;
}

.news-item:hover .news-item-title a {
    color: #18CFAB;
}

.people-say {
    width: 100%;
    height: 850px;
    background: url("../img/Sections background/section-3.jpg") center/cover no-repeat;
    margin: 0 auto;
}

.people-say-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100%;
    min-width: 1160px;
    padding: 5% 0;
    margin: 0 auto;
    text-align: center;
}

.people-say-container h2 {
    color: #FFFFFF;
}

.people-say-quote {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: rgba(187, 187, 187, 1);
}

.people-say-person-name {;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.people-say-person-profession {
    font-size: 16px;
    line-height: 27px;
    color: rgba(187, 187, 187, 1);
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.people-say-img {
    width: 150px;
    height: 150px;
    border: 10px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.people-say-slider {
    position: relative;
}

.people-say-image-box {
    display: flex;
    width: 400px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.people-say-image-box img {
    position: absolute;
    transition: left 500ms, top 300ms;
    top: 25px;
}

.people-say-slider img {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.people-say-slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid rgba(187, 187, 187, 1);
}

.people-say-slider-nav:first-child {
    left: -40px;
    top: calc(50% - 10px);

}

.people-say-slider-nav:last-child {
    right: -40px;
    top: calc(50% - 10px);
}

.people-say-slider-nav:hover, .people-say-slider-nav:hover path {
    background: #18CFAB;
    fill: #FFFFFF;
    border-color: rgba(187, 187, 187, 0);
}
.gallery-container{
    width: 60%;
    min-width: 1160px;
    height: 1200px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.gallery-img-box{
    display: flex;
    margin: -5px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1000px;
    width: 100%;
    align-items: center;
}
.gallery-img-box > *{
    width: 370px;
    margin: 5px;
}
.gallery-img-box img{
    width: 100%;
}
.gallery-img-box_block1{
   display: grid;
    grid-template-columns: repeat(2,1fr);
    object-fit: cover;
    grid-gap: 1px;
}

.gallery-img-box_block2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-gap: 1px;

}

.gallery-img-box_block1 img,
.gallery-img-box_block2 img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


footer {
    width: 100%;
    height: 120px;
    background: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #AEAEAE;
}
footer span{
    color: #18CFAB;
}