@import url('https://fonts.googleapis.com/css2?family=Roboto&display');
.background{
    max-width: 1366px;
    height: 768px;
    left: 0;
    top: 0;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.container{
    /*width: 1026px;*/
    margin: 0 auto;
    padding-top: 46px;
}
header{
    display: flex;
    max-width: 1026px;
    margin: 1% auto;
    justify-content: space-between;
}
.logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    column-gap: 8px;
}
.logo p:first-child{
    line-height: 29px;
    font-size: 29px;
}
.logo p:last-child{
    line-height: 12px;
    font-size: 18px;
}
.logo>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo:hover
{
    color: #F26522;
    filter: invert(54%) sepia(100%) saturate(3345%) hue-rotate(349deg) brightness(99%) contrast(92%);
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-left: 2%;
}

a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}
.contacts a:nth-child(1):hover,
.contacts a:nth-child(2):hover{
    color: #F26522;
}
.list-tours{
    display: grid;
    margin: 0 auto;
    justify-content: center;
    grid-template: repeat(2,300px)/repeat(3,300px);
    column-gap: 62px;
}
.tour{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-container{
    width: 300px;
    height: 220px;
    position: relative;
    overflow: hidden;
}

.tour-details-orange-box{
    position: absolute;
    opacity: 0;
    width: 298px;
    height: 55px;
    left: 2px;
    bottom: 58px;
    padding-left: 15px;
    padding-right: 15px;
    background: #F26522;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tour-details-orange-box span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.tour-details{
    display: flex;
    justify-content: space-between;
}
.tour-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.view-details{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.view-details::after{
    content: url("../img/Vector.svg");
    padding-left: 15px;
}
.tour:hover .tour-details-orange-box,
.tour:hover a[title="tours"]
{
    color: #F26522;
    opacity: 1;
}

footer{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
