@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.page{
    margin: 0 auto;
    width: 1280px;
}
.header-logo{
    width: 334px;
    height: 79px;
    margin: 63px 0 38px 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header-logo span{
    color: #4BCAFF;
}

.header-nav{
    display: flex;
    background: #35444F;
    justify-content: space-evenly;
    font-size: 0;
}
.header-nav li a{
    display: flex;
    align-items: center;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.line{
    border-right: 1px solid #FFFFFF;

}

.main-page{
    display: flex;
    padding-top: 48px;
}

.main-nav{
    margin-right: 52px;
    padding-bottom: 4px;
    width: 344px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
}
.main-nav li a{
    display: inline-block;
    padding: 26px 0 26px 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;

    color: #485863;
}
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    margin-bottom: 3px;
    border: 1px solid #000000;
}

.main-article-text{
    padding-top: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer{
    display: flex;
    margin: 54px 0 30px;
    padding: 0 40px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    align-items: center;
 }
.footer-nav{
    display: flex;
    flex-wrap: nowrap;
    width: 875px;
    justify-content: space-between;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-nav li a {
    display: inline-block;
    color: #0C1927;
}
.footer span{
    padding-left: 135px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}


