.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 642px;
    margin: 0 auto;
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    grid-auto-rows: auto;
    align-items: center;
}

.header-background {
    width: 100%;
    max-width: 1366px;
    min-width: 490px;
    height: 58px;

    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
    display: flex;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.logo:hover {
    color: #3CB878;
    transition: color 500ms;
}

.header-menu {
    display: flex;
    column-gap: 25px;
}

.header-menu-icon {
    display: flex;
    column-gap: 25px;
}

.header-menu-icon a:hover path {
    fill: #3CB878;
    transition: fill 500ms;
}

.header-menu-separator {
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header-menu-welcome,
.header-menu-welcome a {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.header-menu-welcome a:hover {
    color: #3CB878;
    transition: color 500ms;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

}

.main-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 584px;

    padding: 31px 60px 0 60px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    /*align-items: center;*/
}

.green-square {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;

    background: #3CB878;
}

.form-header,
.form-social-networks {
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    justify-content: space-between;
}

.form-header h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.form-header a {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    align-items: end;
    color: #3CB878;
}

.form-header a:hover {
    color: #01813F;
    text-decoration: underline;
    transition: color 500ms;
}

.facebook {
    display: flex;
    width: 160px;
    height: 48px;
    border-radius: 3px;
    align-items: center;
    background: #305DB8;
}

.facebook:hover {
    background: #022263;
    transition: background 500ms;
}

.google {
    display: flex;
    width: 160px;
    height: 48px;
    border-radius: 3px;
    align-items: center;
    background: #DF4A32;
}

.google:hover {
    background: #AB1F09;
    transition: background 500ms;
}

.facebook-logo,
.google-logo {
    text-align: center;
    width: 49px;
}

.facebook-line {
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-line {
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.facebook-lettering,
.google-lettering {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    width: 110px;
    text-align: center;
    color: #FFFFFF;
}

.form-or {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
    /*text-align: center;*/
    color: #848484;

}

.form-or span {
    position: absolute;
    width: 30px;
    text-align: center;
    background-color: #FFFFFF;
}

.form-or::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: calc(50% + 12px);
}

.form-registration {
    padding-top: 30px;

}

input::placeholder {

    color: #BEBEBE;
}

.form-field {
    width: 324px;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-field:focus {
    outline: none;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-checkbox {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    color: #434343;
}

.form-checkbox a {
    color: #3CB878;
}

.form-checkbox a:hover {
    color: #01813F;
    text-decoration: underline;
    text-underline-position: under;
    transition: color 500ms;
}

.form-submit {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px;
    width: 324px;
    height: 46px;

    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #FFF;
}

.form-submit:hover {
    background: #01813F;
    transition: background 500ms;
}

.form-checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.form-checkbox input[type=checkbox]:checked {
    background: url(../img/check.svg) no-repeat;
}




