body{
    margin: 0 auto;
    padding: 1%;
    display: flex;
    max-width: 30%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}
button {
    margin: 2%;
    padding: 1%;
    background-color: #305DB8;
    color: white;
    font-size: 30px;
    border-radius: 10%;
    border-color: cornflowerblue;
}
.board {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    grid-column: 2;
    grid-row: 2;
}
