@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.page{
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}

.header-menu {
    padding: 25px 25px;
    margin: 0;
    text-transform: uppercase;
    text-align-last: justify;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    align-items: center;
    letter-spacing: 2.7px;


}

.header-menu a{
    color: #FF0000;
    text-decoration: none;
}
.main-image {
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.main-article-title{
    padding: 48px;
    max-width: 774px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}
.main-article-text {
    padding: 28px 67.5px;
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;

}
.navbar *{
    justify-content: center;
}
.main-button {
    padding: 18px 43.5px 17px 42.5px;
    margin: 56px auto;
    width: 105px;
    height: 16px;
    /*text-align: center;*/

    background: #FF0000;
    border-radius: 4px;
}
.main-button a{
    text-decoration: none;
    width: 105px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.copyright {
    padding: 26px;
text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: end;
    letter-spacing: 2.4px;

    color: #373737;
}



