@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
.page-background1 {
    background: #171717;
}
.page-background2 {
    background: #0E0E0E;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    padding-top: 7%;
}

.header {
    display: flex;
    padding-top: 3%;
    justify-content: space-between;
}
.button {
   border: 1px solid #E4B564;
    padding: 10px 25px 10px 26px;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
}

.gallery-title {
    padding-bottom: 5%;
}

.header-call {
    font-family: 'Edu SA Beginner', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.header-call img {
    padding-right: 10px;
}

.header-call span {
    color: #D6AF76;
}

.main-style {
    font-family: 'Edu SA Beginner', cursive;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    font-size: 20px;
}

h2 {
    font-size: 50px;
}

.gallery-work {
    padding-top: 5%;
    display: grid;
    height: 100vh;
    grid-template-rows: 49% 49%;
    grid-template-columns: 31% 16% 16% 31%;
    grid-gap: 2% 2%;

}
a {
    color: #FFFFFF;
    font-size: 20px;
}

.gallery-work1 {
    background: #634F2C;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
}

.gallery-work2 {
    background: #B4A385;
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
}

.gallery-work3 {
    background: #E4B564;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
}

.gallery-work4 {
    background: #635A4A;
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
}

.gallery-work5 {
    background: #B08C4D;
    grid-area: 2 / 3 / 3 / 5;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
}

.gallery-equipment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    row-gap: 2%;
}

.gallery-equipment1 {
    background: #0E0E0E;
    height: 30vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-equipment2 {
    background: #1F1F1F;
    height: 50vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-equipment3 {
    background: #242424;
    height: 40vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-equipment4 {
    background: #E4B564;
    height: 35vh;
    width: 32%;
    padding: 3% 10% 0 4%;
    color: #000000;
}

.gallery-equipment5 {
    background: #1F1F1F;
    height: 25vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-equipment6 {
    background: #0E0E0E;
    height: 30vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-equipment7 {
    background: #0A0909;
    height: 25vh;
    width: 32%;
    padding: 3% 10% 0 4%;
}

.gallery-project {
    display: grid;
    height: 80vh;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.gallery-project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.gallery-project div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 1;
    width: 80%;
    max-width: 360px;
}

.gallery-project p {
    display: block;
    text-align: center;
    padding-top: 5%;
}
.gallery-project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #634F2C;
    flex-direction: column;
    position: relative;
}
.gallery-project1 > div:hover {
    opacity: 1;
    background: #634F2C;
}

.gallery-project2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    position: relative;
}
.gallery-project2 > div:hover {
    opacity: 1;
    background: #B4A385;
}

.gallery-project3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E4B564;
    flex-direction: column;
    position: relative;
}
.gallery-project3 > div:hover {
    opacity: 1;
    background: #E4B564;
}

.gallery-project4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #635A4A;
    flex-direction: column;
    position: relative;
}
.gallery-project4 > div:hover {
    opacity: 1;
    background: #635A4A;
}

.gallery-project5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B08C4D;
    flex-direction: column;
    position: relative;
}
.gallery-project5 > div:hover {
    opacity: 1;
    background: #B08C4D;
}

.gallery-project6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #634F2C;
    flex-direction: column;
    position: relative;
}
.gallery-project6 > div:hover {
    opacity: 1;
    background: #634F2C;
}