body{
    background-color: #2f2d2d;
}
.slider {
    width: 500px;
    height: 300px;
    margin: 30px auto;
    border: 2px solid #565454;
    position: relative;
    overflow: hidden;
}
.img-wrapper{
    width: 500px;
    height: 300px;
    position: absolute;
    background-color: #afadad;
    text-align: center;
    transition: left ease 1s;
}

img {
    max-width: 500px;
    max-height: 300px;
}

.nav-buttons{
    margin: 30px 30% auto;
    display: flex;
    justify-content: center;
}
.pre-button, .next-button{
    margin: 0 5%;
    padding: 2% 3%;
    border-radius: 10%;
    background-color: black;
    color: #afadad;
}
