body{
    margin: 1% 20%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
    flex-direction: column;
}

.board {
    margin-top: 1%;
    display: grid;
    height: 256px;
    width: 256px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-column: 2;
    grid-row: 2;
    background-color: grey;
}
.board div{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
img{
    height: 100%;
}
.close{
    background-color: #bfc2c2;
    box-shadow: 1px 1px #232323;
}
.open{
    background-color: #f0f0f3;
    /*border: 1px solid grey;*/
}
.scoreboard{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}
.scoreboard div{
    height: 30px;
    width: 50px;
    background-color: black;
    border: 3px solid #f0f0f3;;
    color: red;
    font-size: 25px;
    text-align: center;
}
